.flexFooter {
  align-items: center;
  background-color: darkslategray;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  height: 35px;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  width: 100%;
}
