.flex {
  align-items: center;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caixa {
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 310px;
}

.flexInput {
  border-radius: 15px;
  height: 30px;
  margin-bottom: 5px;
  width: 220px;
}

.button {
  background-color: darkslategray;
  border-radius: 90px;
  color: white;
  font-size: 45;
  font-weight: 800;
  height: 45px;
  margin-top: 15px;
  width: 220px;
}
