.buttonRanking {
  background-color: darkslategray;
  border-radius: 90px;
  color: white;
  height: 45px;
  margin-top: 15px;
  width: 420px;
}

.ranking {
  background-color: white;
  border-radius: 50px;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.flexRanking {
  align-items: center;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.nameRanking {
  font-size: 38px;
  margin-left: 20px;
  margin-right: 20px;

  /* margin-top: 0px; */
}

.scoreRanking {
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px;
}

.gravatarRanking {
  border-radius: 50px;

  /* margin-top: 0px; */
  width: 40px;
}
