 .flexFeedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feedbackReport {
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 140px;
    padding-right: 140px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 30px;
  }

  .buttonFeedback {
    margin-bottom: 10px;
    height: 30px;
    width: 420px;
  }

