  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .caixa {
    background-color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }

  .flexInput {
    margin-bottom: 5px;
    height: 30px;
    width: 220px;
  }

  .button {
    margin-bottom: 25px;
    height: 30px;
    width: 220px;
  }